#Pandas

파이썬에서 사용하는 데이터 분석 라이브러리
(데이터 시각화는 Matplotlib가 한다.)

In [1]:
import pandas as pd

#1.Series
1차원 데이터 : 정수, 실수, 문자열 등등

##Series 객체 생성
예시) 1월부터 4월까지 평균 온도 데이터를 아래로 표현하기 : -20, -10, 10, 20

In [5]:
tmp = pd.Series([-20, -10, 10, 20])
print(tmp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [6]:
tmp[0]   #1월 온도를 출력해주기

-20

In [8]:
tmp[2]   #3월 온도를 출력해주기

10

#Series 객체 생성해주기 + Index 지정해주기까지 해주기

In [11]:
tmp = pd.Series([-20,-10,10,20], index  = ['Jan', 'Feb', 'Mar', 'Apr'])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2944731090.py, line 1)

In [12]:
print(tmp)

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [13]:
tmp['Jan']    #index Jan에 해당되는 데이터를 출력해준다.

-20