#2. DataFrame
2차원 데이터로, 앞에서 작성한 Series들의 모음이다.

#Data 준비
사전 dict 자료구조를 통해서 생성된다. 

예) 슬램덩크 주요 인물 8명에 대한 데이터Frame 만들기

In [ ]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅','강백호', '변덕규', '황태산', '윤대형'],
    '학교' : ['북산고','북산고','북산고','북산고','북산고','능남고', '능남고', '능남고'],
    '키' : [187, 184, 188, 202, 190, 196,178, 190]
    '국어' : [90,40,80,15,80,55,100,90]
    '영어' : [90, 90, 70, 60,35, 100, 95, 80]
    '과학' : [95, 75, 35,45,70,80, 90,100]
    '사회' : 
}